:root {
  --main-padding: clamp(10px, 5vw, 30px);
  --title-size: clamp(2.2rem, 6vw, 4rem);
  --text-size: clamp(0.9rem, 3vw, 1.1rem);
  --link-size: clamp(0.2rem, 2vw, 1.2rem);
}


@font-face {
  font-family: Unifont;
  src: url(/unifont-17.0.01.otf);
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-attachment: fixed;
	height: 100vh;
	width: 100vw;
	font-size: 150%;
}

main {
	font-family: 'Unifont', sans-serif;
	color: #000;
	line-height: 1.5em;
}

#title {
	font-size: 1.5em;
	padding-bottom: 0.75em;
	color: #fff;
}

#links {
	border: 1.5px solid #888;
	padding: 1.5em;
	background-color: #111;
}

#mail {
	padding-top: 0.75em;
}

.sub {
	font-style: italic;
	font-size: 0.75em;
}

a {color: #fff; text-decoration: none;}

a:hover {text-decoration: underline;}

hr {border: none; border-top: 1.5px solid #888}
