:root {
  --main-padding: clamp(10px, 5vw, 30px);
  --title-size: clamp(2.2rem, 6vw, 4rem);
  --text-size: clamp(0.9rem, 3vw, 1.1rem);
  --link-size: clamp(0.2rem, 2vw, 1.2rem);
}
@font-face {
  font-family: Unifont;
  src: url(https://mirrors.aliyun.com/gnu/unifont/unifont-17.0.01/unifont-17.0.01.otf);
}
body {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Unifont', sans-serif;

  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
main {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  max-width: 800px;
  padding: var(--main-padding);
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: rgba(63, 63, 63, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  
 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


main::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
  font-weight: 400;
}

h4 {
  font-weight: 350;
  margin: 1.5rem 0 0.5rem;
}

#title {
  font-size: 300%;
  margin-bottom: 2rem;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  word-break: break-word;
  overflow-wrap: break-word;
}

.crossline {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1.5rem 0;
}

a {
  color: #ccc;
  text-decoration: none;
  font-size: var(--link-size);
  white-space: nowrap;

  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

a:hover {
  transform: scale(1.25);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);
}

#links {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(10px, 3vw, 15px);
  margin-bottom: 2rem;
  max-width: 100%;
}

body {
  font-size: var(--text-size);
}

h1 {
  font-size: var(--title-size);
}

a {
  font-size: var(--link-size);
}
